<div class="header">
    <div class="text">E-COMM</div>
    <div class="search">
        <input class="input" type="text" placeholder="Search for Products">
        <button>Search</button>
    </div>
    <div class="list">
        <ul class="lists">
            <li class="item"><a routerLink=""> Home </a></li>
            <li class="item"><a routerLink="seller-auth"> Seller </a></li>
            <li class="item"><a routerLink="seller-auth"> login </a></li>
            <li class="item"><a routerLink="seller-auth"> Home </a></li>
        </ul>
    </div>
    
</div>